@import '~bootstrap/scss/bootstrap';
* {box-sizing: border-box;}
body{
  background-color: powderblue;
}
.container {width: 300px; overflow: hidden; margin: 50px auto 0 auto auto}

.container span{width:90%; display: block;text-align: center;
font-family: sans-serif; color: #fff; font-size: 30px; text-align:center;
background: #446CB3;}

.container .box {
  float: left;
  width: 80px;
  height: 100px;
  height: 100px;
  border: 1px solid #000;
  font-family: sans-serif;
  font-size: 85px;
  text-align: center;
  line-height:100px;
  cursor: pointer;
 }
 container .box:hover{background:#fff}
h1{
  text-align:center;
}
 button{
background: #26C281;
display: inline-block;
float:right;
color: #fff;
font-weight: bold;
border: 1px solid yellow;
 cursor: pointer;
width: 150px;
height: 40px; font-size: 22px;
display: block;
margin: 8px auto;
}
.sign-up{
  text-align:center
}
.sign-in{
  text-align:center
}
 sign-up-form{
   text-align:center
 }
 sign-in-form{
   text-align:center
 }

h1{
  text-align:center
}
// .hidden , .new-game{
//   display: inline-block;
//   float: right;
// }
// .newgame{
//   float: right;
// }
.win{
  background: #F9690E;
  color: #fff
}
